<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar"
     style="background:#0f1729;padding:0 20px;height:56px;display:flex;align-items:center;justify-content:space-between;">

    <a th:href="@{/}" style="color:white;font-size:16px;font-weight:700;text-decoration:none;display:flex;align-items:center;gap:8px;">
        🚌 TransitMap
    </a>

    <div style="display:flex;align-items:center;gap:6px;">

        <!-- VOYAGEUR -->
        <a sec:authorize="hasRole('VOYAGEUR')" th:href="@{/map}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            🗺 Carte
        </a>
        <a sec:authorize="hasRole('VOYAGEUR')" th:href="@{/interurbain/search}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            🔍 Voyages
        </a>

        <!-- AGENT -->
        <a sec:authorize="hasRole('AGENT')" th:href="@{/agent/dashboard}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            📋 Tableau de bord
        </a>
        <a sec:authorize="hasRole('AGENT')" th:href="@{/agent/demandes}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            📨 Demandes
        </a>

        <!-- ADMIN -->
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            📊 Dashboard
        </a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/activite}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            📡 Activité
        </a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/demandes}"
           style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            📨 Demandes
        </a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/interurbain}"
        style="color:#8896b3;padding:7px 14px;border-radius:7px;font-size:13px;text-decoration:none;">
            🚍 Interurbain
        </a>
        <!-- Logout -->
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}"
           style="background:#E24B4A;color:white;padding:7px 16px;border-radius:7px;font-size:13px;text-decoration:none;margin-left:8px;">
            Déconnexion
        </a>
    </div>
</nav>
</body>
</html>